@import '../utils.scss';

.Button {
  border: 1px solid $main;
  color: $main;
  background-color: $nice-white;
  font-size: $defaultSize;
  cursor: pointer;
  transition: $defaultTransition;

  &:hover,
  &.active {
    background-color: $main;
    color: $nice-white;
  }
}