@import './utils.scss';

.TextBlock {
  text-align: center;

  &__title {
    &--main {
      @include titleTextLayout;
      color: $main;
      margin: 10px 0;
    }
  }

  &__text {
    font-size: $defaultSize;
    color: $alt;

    &--alt {
      font-size: $defaultSize;
      color: $main;
    }
  }
}