$main: #11427A;
$alt: #a7a7a7;
$nice-white: #fff;

$bigSize: 32px;
$defaultSize: 22px;

$defaultTransition: .25s;

@mixin titleTextLayout {
  font-size: $bigSize;
  font-weight: 600;
}

@mixin desktopSize {
  @media (min-width: 769px) {
    @content
  }
}